<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="==
    "
    <h1> cybersquare </h1>
    <hr> From wikipedia, the free encyclopedia </hr>
    <p> <span style="color:green"> square is an innovative online </span> platform that teaches kids to Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima maiores excepturi adipisci sint fugiat iste molestiae </p>
    <b> Contents</b>
    <a href="#name">hello</a>

    <ol>
        <u> 
        <li> cybersquare learning platform</li>
        <li> cybersquare cources</li>
        <li>cybersquare textbooks</li>
        <li>cybersquare digital fest</li>
        <li>Associated instructions</li>
        <li>see also</li>
        </u>
</ol>
<h1> cybersquare Learning platform </h1>
<p> Every registred will have a seperate login account to the <u>cybersquare online platform.</u></p>
<h1> cybersquare coding cources </h1>
<p>cybersquare provide live <u> b2c online coding cources </u>for kids and prepare them for future.</p>
<a href="https://www.google.com"></a>
<hr align="right" width="50%">
<img src="https://blog.cybersquare.org/hubfs/little%20coder%20-%20beginner.png"" width="30%" height="30%" alt="google">
<div style="float: left; width: 100px; background-color: yellow;">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores aliquid minima, vitae, nobis esse neque soluta molestias consequuntur, architecto blanditiis quisquam molestiae iusto sed eveniet ipsam odio quod magnam! Eius!</p>
</div>
<img src="picture/little coder - beginner.png" alt="rty">
<ol type="1">
    <li>html</li>
    <li>css</li>
    <li>javascript</li>
    <li>bootstrap</li>
</ol>
<ul type="square">
    <li>php</li>
    <li>python</li>
    <li>antroid</li>
</ul>
<dl>
    <dt>html</dt>
    <dd>html is a hypertext markup language</dd>
</dl>
<a href="file.html">google</a>
<a name="name">fdghj</a>
<font face="times new roman" size="15" color="blue"> hello world</font>
<table border= "3" cellpadding="0">
    <tr>
        <th> rollno </th>
        <th>name</th>
        <th>age</th>
        <th>cources</th>
    </tr>
    <td>1</td>
    <td>anu</td>
    <td>23</td>
    <td>python</td>
    <tr>
        <td>2</td>
        <td>aiswarya</td>
        <td>20</td>
        <td>php</td>
    </tr>
</table>
</body>
</html>
    
</body>
</html>